@import url('https://fonts.googleapis.com/css2?family=Uhuntu:400,500,700')
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body
{
 width: 100vw;
 height: 90vh;
 margin-top:10px;
 background-color:#fff;
 font family: 'Ubuntu', sans-serif;
}
.container
{
  display: flex;
  justify-content: center;
  align-item: center;
  flex-wrap: wrap;
  flex-direction: column;
}
#imagem
{
  background-image: url("../img/forca00.png");
  width:234px;
  height: 272px;
  background-repeat:no-repeat;
}
#palavra-secreta
{
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-item: center;
  font-size: 1em;
  margin-top:10px;
}
