@import url('https://fonts.googleapis.com/css2?family=Ubuntu:400,500,700')
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body
{
 width: 100vw;
 height: 90vh;
 margin-top:10px;
 background-color:#F3F5FC;;
 font family: 'Ubuntu', sans-serif;
}
.container
{
  display: flex;
  justify-content: center;
  align-item: center;
  flex-wrap: wrap;
  flex-direction: column;
}
#imagem
{
  background-image: url("../img/forca00.png");
  width:234px;
  height: 272px;
  background-repeat:no-repeat;
}
#palavra-secreta
{
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-item: center;
  font-size: 1em;
  margin-top:30px;
}
.letras
{
  width: 16px;
  text-align: center;
  border-bottom: 2px solid #0A3871;
  color:#0A3871;;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
#teclado
{
  margin-top: 30px;
  
}
  
